body {
  background: rgb(247, 244, 234);
  color: black;
  box-shadow: inset 0px 0px 10px 5px #643695, 0px 0px 10px 10px #643695, 0px 0px 15px 30px #ce202c;
}

a {
    color:#643695;
}

a:visited {
    color:#ce202c;
}

.red {
  color: #ce202c;
}

.purple {
  color: #643695;
}

/*
.prompt {
    color:beige;
    -webkit-text-stroke-color: black;
}
*/

/* scrollbar track */
.description::-webkit-scrollbar-track {
  background: #643695;
}

/* scrollbar handle */
.description::-webkit-scrollbar-thumb {
  background: #ce202c;
}
