body {
background:#1900D6;
    color:white;
    
    box-shadow:0px 0px 15px 30px #1900D6;
}

h2, p, a, .specs {
    background: linear-gradient(45deg,  rgba(72,104,255,1) 6%,  rgba(0, 110, 94, 1) 12%, rgba(84,176,221,1) 18%, rgba(95,137,255,1) 24%, rgba(28,249,255,1) 30%,  rgba(0, 168, 108, 1) 40%, rgba(0,212,255,1) 46%, rgba(0,255,209,1) 50%, rgba(157,240,255,1) 59%, rgba(136,160,236,1) 65%, rgba(39,231,223,1) 78%,  rgba(25, 135, 0, 1) 86%, rgba(24,55,255,1) 91%, rgba(9,9,121,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color: aqua;
}

a {
    -webkit-text-stroke-color: aqua;
}

a:visited {
    -webkit-text-stroke-color: #005959;
}

/*
.prompt {
    color:blue;
    -webkit-text-stroke-color: aqua;
}*/



/* scrollbar track */
.description::-webkit-scrollbar-track {
  background: rgba(9,9,121,1);
}

/* scrollbar handle */
.description::-webkit-scrollbar-thumb {
  background: aqua;
}
