body {
    background:black;
    color:white;
/*    box-shadow:0px 0px 15px 20px white, 0px 0px 15px 30px black;*/
}

a {
    color:white;
}

a:visited {
    color:grey;
}

/*
.prompt {
    color:black;
    -webkit-text-stroke-color: white;
}*/



/* scrollbar track */
.description::-webkit-scrollbar-track {
  background: grey;
}

/* scrollbar handle */
.description::-webkit-scrollbar-thumb {
  background: white;
}
