/*
@font-face {
    font-family: "apoc";
    src: url("fonts/Apoc-LightSans-Trial.otf") format("otf");
    font-weight:normal;
    font-style: normal;
}

@font-face {
    font-family: "apoc";
    src: url("fonts/Apoc-Revelations Italic-Trial.otf") format("otf");
    font-weight:normal;
    font-style:italic;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400&display=swap');

@font-face {
    font-family: "unstately";
    src: url("fonts/Unstately.otf") format("opentype");
    font-weight:normal;
    font-style:normal;
}
  

@font-face {
    font-family: "runic";
    src: url("fonts/Runic_Siri.otf") format("opentype");
    font-weight:normal;
    font-style:normal;
}



sup {
    font-size:.5em;
    position:relative;
    top:-.5em;
}

* {
    box-sizing:border-box;
    hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    
    font-weight:normal;
}

body {
    font-size:28px;
    font-family: "runic";
    line-height:1.33em;
    overflow-x:hidden;
    letter-spacing:.75px;
}

span.chinese {
    font-family: "Noto Serif SC", serif;
    font-weight: 300;
    font-style: normal;
}


img {
    max-width:100%;
}

a {
    text-decoration: none;
}

h2 {
    font-size:2em;
    line-height:1.16em;
}

/*!temporarily nullifying italics since runic.otf doesn't have italics!*/
i, em {
    font-style:normal;
}


p {
    width:100%;
    max-width:1200px;
}

.project_list {
    margin:0;
    padding:0;
}

.project, .intro, .self_intro {
    display:block;
    padding:0 0.5em;
    width:100%;
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
/*    margin: 0 auto;*/
/*    border: 1px solid pink;*/
}

.intro, .self_intro {  
    margin:.5em;
}

.intro p, .self_intro p {  
    margin:0 0;
}

.project {
    /* margin is for the box-shadows */
    margin:60px 0;
}

.project.Cai_Yongchun, .project.brood, .project.PRLectures, .project.runic {
    margin:30px 0;
}

.image_icon {
    margin:0em 0em 0 0.2em;
}

.image_icon img, .image_icon video {
  position: relative;
  display: inline;
  max-height:6em;
  max-width:10em;
}

.image_icon video {
    filter:drop-shadow(rgba(0,0,0,.4) 0px 0px 5px);
}

